{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": 6
      }
    }]
  ],
  "env": {
    "esm": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
      ]
    }
  }
}
